<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    < <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <title>教务综合管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/ready.css}">

    <style>
        table tr {
            height: 50px;
        }

        table td {
            text-align: center;
            font-size: 16px;
        }

        table th {
            text-align: center;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <!--    引入公共页面 public-index。html 的模块-->
    <div th:replace="teacher/public-teacher-index :: header"></div>
    <div th:replace="teacher/public-teacher-index :: left"></div>


    <div class="main-panel">
        <div class="content">
            <div class="row">
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-12">
                    <div class="card" style="width:100%;height:100%;">
                        <div class="card-header text-center">
                            <h4>

                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!--<div class="col-md-1"></div>-->
                                <div class="col-md-12">
                                    <a style="font-size:15px;" id="href" href="#">生成毕业设计课题审查汇总表</a>
                                    <table class="table table-hover" style="background-color:white;">
                                        <thead>
                                        <tr style="background-color:#00ffff">
                                            <th>序号</th>
                                            <th>课题名称</th>
                                            <th>课题类型</th>
                                            <th>课题来源</th>
                                            <th>适用专业</th>
                                            <th>指导老师</th>
                                            <th>当前状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p,project:${allproject}">
                                            <th th:text="${project.count}"></th>
                                            <th th:text="${p.projectname}"></th>
                                            <th th:text="${p.sourceName}"></th>
                                            <th th:text="${p.typeName}"></th>
                                            <th th:text="${p.marchspecialty}"></th>
                                            <th th:text="${p.teachernames}"></th>
                                            <th th:text="${p.projectZT}"></th>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/ready.min.js}"></script>
<script type="text/javascript" th:src="@{/js/graduation/section_xq/subjectinfoto.js}"></script>

</html>