<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .zy-tr-height{
            height: 45px;
        }
    </style>
</head>
<body>
<table style="table-layout:fixed; overflow:hidden;" border="1" width="60%"
       bgcolor="#fff"  cellspacing = "0" align="center">

    <!--姓名  性别  政治面貌  文化程度  -->
    <tr align="center" class="zy-tr-height">
        <td colspan="3">姓名</td>
        <td colspan="2"></td>
        <td colspan="3">性别</td>
        <td colspan="2"></td>
        <td colspan="3">政治面貌</td>
        <td colspan="2"></td>
        <td colspan="3">文化程度</td>
        <td colspan="2"></td>
    </tr>

    <!--参加工作时间  行政职务  专业技术职务-->
    <tr align="center" class="zy-tr-height">
        <td colspan="4">参加工作时间</td>
        <td colspan="3"></td>
        <td colspan="3">行政职务</td>
        <td colspan="3"></td>
        <td colspan="4">专业技术职务</td>
        <td colspan="3"></td>
    </tr>

    <!--个人总结-->
    <tr align="center" >
        <td colspan="20" height="600px">
            个人总结
            <!--<textarea style=" width: 98%; height: 95%; border: none;"></textarea>-->
            <div style="height: 95%;width: 98%"></div>
        </td>
    </tr>

    <tr align="center">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
    </tr>



    <tr align="center">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
    </tr>
</table>
</body>
</html>