<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <title>教务综合管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/ready.css}">

    <style>

        table tr {
            height: 40px;
        }

        table td {
            text-align: center;
            font-size: 16px;
        }

        table th {
            text-align: center;
            font-size: 16px;
        }

        input {
            border: none;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        textarea {
            border: none;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="wrapper">

    <!--    引入公共页面 public-index。html 的模块-->
    <div th:replace="teacher/public-teacher-index :: header"></div>
    <div th:replace="teacher/public-teacher-index :: left"></div>

    <div class="main-panel">
        <div class="content">
            <div class="row">
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-12">
                    <div class="card" style="width:100%;height:100%;">
                        <div class="card-header text-center">
                            <h4>
                                教师学期业务情况登记表
                            </h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" style="table-layout:fixed; overflow:hidden;" border="1"
                                   width="80%"
                                   bgcolor="#fff" cellspacing="0" align="center">

                                <div align="center" style="margin-bottom: 15px;">
                                    部门&emsp;&emsp;<text th:text="${session.teacherInfo.instituteName}"></text>&emsp;&emsp;&emsp;&emsp;
                                    教研室&emsp;&emsp;<text th:text="${session.teacherInfo.sectionName}"></text>&emsp;&emsp;&emsp;&emsp;
                                    <select id="year"></select>年
                                    <select>
                                        <option value="上">上</option>
                                        <option value="下">下</option>
                                    </select>学期
                                </div>

                                <!--姓名 性别 年龄 职称 职务-->
                                <tr align="center">
                                    <td>姓名</td>
                                    <td colspan="2" th:text="${session.teacherInfo.name}"></td>
                                    <td>性别</td>
                                    <td colspan="2" th:text="${session.teacherInfo.gender}"></td>
                                    <td>职称</td>
                                    <td colspan="3" th:text="${session.teacherInfo.technicalposition}"></td>
                                    <td>职务</td>
                                    <td colspan="2" th:text="${session.teacherInfo.administrativeduty}"></td>
                                    <td colspan="2">出生年月</td>
                                    <td colspan="2">1998 09 17</td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td rowspan="7">完<br>成<br>教<br>学<br>工<br>作<br>量
                                    </td>
                                    <td colspan="2">任教课程名称</td>
                                    <td colspan="2">班级</td>
                                    <td colspan="2">理论课时</td>
                                    <td colspan="2">指导实验</td>
                                    <td colspan="2">指导设计</td>
                                    <td colspan="2">指导实习</td>
                                    <td colspan="2">指导综合实验</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">总课时</td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4">工总量合计</td>
                                    <td colspan="2"></td>
                                    <td colspan="12"></td>
                                </tr>

                                <tr align="center">
                                    <td rowspan="12">学<br>术<br>成<br>果</td>
                                    <td colspan="3">编写教材名称</td>
                                    <td colspan="3">出版单位及时间</td>
                                    <td colspan="2">主编（审）</td>
                                    <td colspan="2">参编（审）</td>
                                    <td colspan="2">规划教材</td>
                                    <td colspan="2">校本教材</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">其他</td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"></td>
                                    <td colspan="16"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4">论文篇名</td>
                                    <td colspan="6">发表（获奖）情况</td>
                                    <td colspan="3">级别</td>
                                    <td colspan="3"></td>
                                    <td colspan="2">本人排名</td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4"></td>
                                    <td colspan="6"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4"></td>
                                    <td colspan="6"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4"></td>
                                    <td colspan="6"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4"></td>
                                    <td colspan="6"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4"></td>
                                    <td colspan="6"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="2"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">获奖情况</td>
                                    <td colspan="15"><textarea rows="5"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">参加学术<br>团体情况</td>
                                    <td colspan="15"><textarea rows="4"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">继续教育<br>情&emsp;&emsp;况</td>
                                    <td colspan="15"><textarea rows="4"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">担任其它<br>工作情况
                                    </td>
                                    <td colspan="15"><textarea rows="5"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="4">病休情况</td>
                                    <td colspan="5"></td>
                                    <td colspan="4">事假情况</td>
                                    <td colspan="5"></td>
                                </tr>

                                <tr align="center">
                                    <td rowspan="2" colspan="3">教学纪律</td>
                                    <td colspan="3">迟到次数</td>
                                    <td colspan="3">早退次数</td>
                                    <td colspan="3">调课次数</td>
                                    <td colspan="3">缺课次数</td>
                                    <td colspan="3">违纪扣分</td>
                                </tr>

                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>

                                <tr align="center">
                                    <td rowspan="3">学<br>期<br>考<br>核</td>
                                    <td colspan="3">教<br>研<br>室<br>意<br>见</td>
                                    <td colspan="14"><textarea rows="4"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">部<br>门<br>意<br>见</td>
                                    <td colspan="14"><textarea rows="4"></textarea></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="3">学<br>校<br>意<br>见</td>
                                    <td colspan="14"><textarea rows="4"></textarea></td>
                                </tr>

                                <tr>
                                    <td colspan="18">
                                        <button type="button" class="btn btn-primary" id="sub">提交</button>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/ready.min.js}"></script>
<script type="text/javascript">

    // 设置填写年份
    $(function () {
        var myDate = new Date;
        var year = myDate.getFullYear(); //获取当前年

        var lastYear = year - 1
        var thisYear = year
        var nextYear = year + 1

        $("#year").append($("<option>" + lastYear + "</option>").attr("value", lastYear))
            .append($("<option>" + thisYear + "</option>").attr("selected", "selected").attr("value", thisYear))
            .append($("<option>" + nextYear + "</option>").attr("value", nextYear))
    })

</script>
</html>